body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    margin-bottom: 30px;
}

header {
    height: 100vh;
    background: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f8f9fa;
    background-image: url(''); /* Add your background image here */
    background-size: cover;
}

header h1 {
    font-size: 2.5rem;
}

header .typed {
    color: #ff6347;
    font-weight: bold;
}

.social-icons a {
    color: #000;
    margin: 0 10px;
    font-size: 1.5rem;
}

footer {
    background: #343a40;
    color: white;
}

section {
    padding: 60px 0;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section p, section ul {
    font-size: 1.1rem;
}

.card {
    border: none;
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 0.9rem;
}

#projects .container-fluid {
    padding-left: 15px; /* Add left padding to offset container padding */
    padding-right: 15px; /* Add right padding to offset container padding */
}

#projects .card {
    width: 100%;
}

#projects .card-body {
    max-width: 80%; /* Adjust max-width for better responsiveness */
    width: 100%; /* Ensure full width on smaller screens */
    margin: 0 auto; /* Center align card body */
    text-align: center; /* Center align text */
}

#projects img {
    max-width: 100%; /* Ensure images are fully responsive */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default image alignment */
    margin: 0 auto 15px; /* Center align images with bottom margin */
}

#projects ul {
    list-style-type: none;
    padding-left: 0;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #7c2828;
}

html {
    scroll-behavior: smooth;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        height: auto; /* Adjust header height for smaller screens */
    }

    header h1 {
        font-size: 2rem; /* Decrease font size for smaller screens */
    }

    .social-icons a {
        font-size: 1.2rem; /* Decrease font size for smaller screens */
    }

    section h2 {
        font-size: 1.8rem; /* Decrease font size for smaller screens */
    }

    section p, section ul {
        font-size: 1rem; /* Decrease font size for smaller screens */
    }
}
